.topic-background{
    composes: bricks-background from "../common.module.css";
    background-image: url("../assets/images/bricks_background.webp");
    height: 100dvh;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links-wrapper{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.links-wrapper>li{
    display: flex;
    place-items: center;
    gap: 20px;
    height: min-content;
    background-image: var(--backlight);
}

.web-item{
    flex-direction: column;
}

.art-link, .art-link:visited{
    font-size: 5rem;
    font-family: var(--font-neon-2);
    color: var(--on);
    filter: drop-shadow(var(--glow));
    border: solid 5px var(--on);
    padding: 0 3rem;
    border-radius: 2rem;
}

.arrow{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/icons/arrow.svg");
    height: 100px;
    width: 100px;
    filter: var(--filter) drop-shadow(var(--glow));
}

.globe{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/icons/web.svg");
    height: 150px;
    width: 150px;
    filter: var(--filter) drop-shadow(var(--glow));
}

.web-link, .web-link:visited{
    font-size: 5rem;
    font-family: var(--font-neon-2);
    color: var(--on);
    filter: drop-shadow(var(--glow));
    border-bottom: solid 5px var(--on);
    border-top: solid 5px var(--on);
}