.topic-background{
    composes: bricks-background from "../common.module.css";
    background-image: url("../assets/images/bricks_background.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-around;
    height: 100dvh;
    user-select: none;
}

.graffiti-one{
    font-family: var(--font-graffiti-2);
    color: var(--graffiti-magenta);
}

.title{
    display: flex;
    flex-direction: column;
}

.graffiti-two{
    transform:rotate(15deg);
    font-size: 7rem;
    font-family: var(--font-graffiti-2);
    color: var(--graffiti-green);
}

.links-wrapper{
    display: flex;
    gap: 350px;
}

.links-wrapper>li{
    display: flex;
    place-items: center;
}

.art-link, .art-link:visited{
    font-size: 5rem;
    font-family: var(--font-neon-2);
    color: var(--neon-pink);
    text-shadow: var(--glow-pink);
    background-image: var(--backlight-pink);
}

.web-link, .web-link:visited{
    font-size: 5rem;
    font-family: var(--font-neon-2);
    color: var(--neon-yellow);
    text-shadow: var(--glow-yellow);
    background-image: var(--backlight-yellow);
}