.bio{
    composes: bio from "../common.module.css";
}

.work-header{
    display: flex;
    place-content: center;
    place-items: center;
}

.work-title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.work-title>span:first-child{

}

.work-title>span:last-child{

}

.skills-header{
    display: flex;
    place-content: center;
    place-items: center;
}

.skills-title{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.skills-title>span:first-child{

}

.skills-title>span:last-child{

}