.hero{
    composes: bricks-background from "../common.module.css";
    composes: section-header from "../common.module.css";
    composes: parallax from "../common.module.css";
    background-image: url("../assets/images/bricks_background.webp");
}

.title{
    display: flex;
    margin: 0 auto 3rem auto;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 3rem;
}

.graffiti-one{
    font-family: var(--font-graffiti-1);
    color: var(--graffiti-magenta);
    transform: translateX(200px) translateY(50px) rotate(30deg);
    font-size: 4rem;
}

.graffiti-two{
    font-family: var(--font-graffiti-2);
    color: var(--graffiti-green);
    transform: translateX(50px);
    font-size: 4rem;
}

.neon-one{
    font-family: var(--font-neon-1);
    color: var(--neon-blue-off);
    font-size: 5rem;
    margin-left: -100px;
}

.active{
    animation-name: flicker;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: var(--count);
    animation-delay: var(--delay);
}

@keyframes flicker {
    from {
        color: var(--off);
        background-image: none;
        text-shadow: none;
    }
    to {
        color: var(--on);
        background-image: var(--backlight);
        text-shadow: var(--glow);
    }
}

.neon-two{
    text-align: center;
    font-family: var(--font-neon-2);
    color: var(--neon-gold-off);
    font-size: 5rem;
}

.social-links-wrapper{
    display: flex;
    gap: 20px;
    justify-items: center;
    justify-content: center;
    margin: 0 auto 10rem auto
}

.bio{
    composes: bio from "../common.module.css";
    margin: 0 auto 10rem auto;
    transform: translateY(-50px);
    filter: opacity(0);
}

.show-bio{
    transform: translateY(0);
    filter: opacity(1);
    transition: 1s ease-in-out;
}