.skills-header{
    composes: bricks-background from "../common.module.css";
    composes: section-header from "../common.module.css";
    composes: parallax from "../common.module.css";
    background-image: url("../assets/images/bricks_background.webp");
}

.contact-title{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.neon-one{
    font-family: var(--font-neon-2);
    font-size: 4rem;
    color: var(--neon-blue-off);
}

.contact-title>span:last-child{
    font-family: var(--font-graffiti-2);
    font-size: 3rem;
    color: var(--graffiti-green);
    transform: rotate(-25deg) translateY(20px);
}

.contact-icon{
    height: 30px;
    width: 30px;
    background-size: contain;
    background-position: center;
    filter: var(--filter) drop-shadow(var(--glow));
}

.contact-list{
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
}

.contact-item{
    font-family: var(--font-default);
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: center;
    gap: 20px;
    color: var(--text);
}

.contact-item>span{
    padding: 5px;
}

.contact-title .active{
    animation-name: text-flicker;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: var(--count);
    animation-delay: var(--delay);
}

.contact-item.active span{
    animation-name: text-fade-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes text-fade-in {
    from {
        transform: translateX(-20px);
        filter: opacity(0);
    }

    to {
        transform: translateX(0);
        filter: opacity(1);
    }
}

@keyframes text-flicker {
    from {
        color: var(--off);
        background-image: none;
        text-shadow: none;
    }
    to {
        color: var(--on);
        background-image: var(--backlight);
        text-shadow: var(--glow);
    }
}