.hero{
    composes: bricks-background from "../common.module.css";
    composes: parallax from "../common.module.css";
    background-image: url("../assets/images/bricks_background.webp");
    display: flex;
    place-items: center;
}

.title{
    user-select: none;
    display: flex;
    margin: 0 auto 3rem auto;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.graffiti-one{
    font-family: var(--font-graffiti-1);
    color: var(--graffiti-magenta);
    transform: translateX(200px) translateY(50px) rotate(30deg);
    font-size: 4rem;
}

.graffiti-two{
    font-family: var(--font-graffiti-2);
    color: var(--graffiti-green);
    transform: translateX(50px);
    font-size: 4rem;
}

.neon-one{
    font-family: var(--font-neon-1);
    color: var(--neon-blue);
    background-image: var(--backlight-blue);
    text-shadow: var(--glow-blue);
    font-size: 5rem;
    margin-left: -100px;
}

.neon-two{
    text-align: center;
    font-family: var(--font-neon-2);
    color: var(--neon-gold);
    background-image: var(--backlight-gold);
    text-shadow: var(--glow-gold);
    font-size: 5rem;
}