.nav-bar{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    place-items: center;
    background-color: var(--background-trans);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
}

.link-list{
    display: none;
    flex-direction: row;
    place-items: center;
    place-content: center;
    gap: 30px;
    padding: 1.5rem;
    margin-bottom: 5px;
}

.link-list a, .link-list a:visited{
    font-family: var(--font-default);
    color: var(--text);
    font-size: 1rem;
    padding: 1.5rem;
}

.link-list a:hover, .link-list a:visited:hover{
    color: var(--neon-blue);
    filter: drop-shadow(var(--glow-single-blue))
}

a.active-section{
    border-bottom: solid 5px var(--neon-blue);
    color: var(--neon-blue) !important;
    filter: drop-shadow(var(--glow-single-blue));
    transition: 0.2s ease-in-out;
}

.ham-menu-button{
    background-image: url("../assets/icons/ham_menu.svg");
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--none);
    height: 50px;
    width: 50px;
    padding: 2rem;
}

.ham-menu-button:hover{
    filter: var(--filter-neon-blue) drop-shadow(var(--glow-single-blue));
}

@media (min-width: 800px) {
    
    .ham-menu-button{
        display: none;
    }

    .link-list{
        display: flex;
    }
}