.nav-bar{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    background-color: var(--background-trans);
}

.link-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 1.5rem;
}

.link-list a, .link-list a:visited{
    font-family: var(--font-default);
    color: var(--text);
    font-size: 1rem;
    padding: 1.5rem;
}