.nav-bar{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    background-color: var(--background-trans);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
}

.link-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 1.5rem;
    margin-bottom: 5px;
}

.link-list a, .link-list a:visited{
    font-family: var(--font-default);
    color: var(--text);
    font-size: 1rem;
    padding: 1.5rem;
}

.link-list a:hover, .link-list a:visited:hover{
    color: var(--neon-blue);
    filter: drop-shadow(var(--glow-single-blue))
}

a.active-section{
    border-bottom: solid 5px var(--neon-blue);
    color: var(--neon-blue) !important;
    filter: drop-shadow(var(--glow-single-blue));
    transition: 0.2s ease-in-out;
}