.skills-carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    transition: transform .2s;
    min-height: 150px;
}

.skill-button{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    transition: transform .5s, filter 0s;
    padding: 0;
    cursor: pointer;
    background-color: var(--none);
    border: none;
    filter: var(--off);
}

.skill-button:focus{
    outline: none;
}

.skill-button:hover{
    border: none;
}

.skills-list{
    width: calc(60px + 225px);
    margin: 0 auto;
    overflow: hidden;
}

.active{
    filter: var(--filter);
    transform: scale(150%);
}