.tools-wrapper{
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 1rem;
    margin: 1rem 0 10rem 0;
}

.tools-list{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
    transition: .5s ease-in-out;
}

.tool-name{
    display: flex;
    gap: 5px;
    color: var(--text);
    font-family: var(--font-default);
    background-color: var(--background-bright);
}

.tool-name>span{
    padding: 5px;
}

.skill-name{
    color: var(--off);
    font-size: 1.5rem;
    margin: 1rem 0;
}

.neon-strip{
    width: 5px;
    height: 100%;
    background-color: var(--off);
}

.active.tools-list{
    gap: 3rem;
}

.active .neon-strip{
    animation-name: flicker-strip;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: var(--count);
    animation-delay: var(--delay);
}

.active.skill-name{
    animation-name: flicker-text;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: var(--count);
    animation-delay: var(--delay);
}

@keyframes flicker-strip {
    0% {
        background-color: var(--off);
    }

    100% {
        background-color: var(--on);
        filter: drop-shadow(var(--glow-single));
    }
}

@keyframes flicker-text {
    0% {
        color: var(--off);
    }

    100%{
        color: var(--on);
        filter: drop-shadow(var(--glow-single))
    }
}