.web-project-item{
    background-color: var(--background-bright);
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2rem;
}

.web-project-links{
    display: flex;
    margin: 2rem 0 0 0;
    gap: 1rem;
    justify-content: space-between;
}

.web-project-description{
    color: var(--text);
    text-align: left;
}

.web-project-details{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 1rem;
}

.web-project-title{
    color: var(--text);
    font-family: var(--font-default);
    font-size: 1.5rem;
    text-align: left;
}

.web-project-neon-strip{
    height: 1rem;
    width: 100%;
}