.web-project-item{
    background-color: var(--background-bright);
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2rem;
    transition: .5s ease-in-out;
}

.web-project-links{
    display: flex;
    margin: 2rem 0 0 0;
    gap: 1rem;
    justify-content: space-between;
}

.web-project-description{
    color: var(--text);
    text-align: left;
}

.web-project-details{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 1rem;
}

.web-project-title{
    font-family: var(--font-default);
    font-size: 1.5rem;
    text-align: left;
    color: var(--off);
}

.web-project-neon-strip{
    height: 1rem;
    width: 100%;
    background-color: var(--on);
    filter: drop-shadow(var(--glow-single));
}

.active .web-project-title{
    animation-name: flicker-text;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: var(--count);
    animation-delay: var(--delay);
}

@keyframes flicker-text {
    0% {
        color: var(--off);
    }

    100%{
        color: var(--on);
        filter: drop-shadow(var(--glow-single))
    }
}