.tools-wrapper{
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 1rem;
    margin: 1rem 0 10rem 0;
}

.tools-list{
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.tool-name{
    display: flex;
    gap: 5px;
    color: var(--text);
    font-family: var(--font-default);
    background-color: var(--background-bright);
}

.tool-name>span{
    padding: 5px;
}

.skill-name{
    color: var(--color);
    filter: drop-shadow(var(--glow));
    font-size: 1.5rem;
    margin: 1rem 0;
}

.neon-strip{
    width: 5px;
    height: 100%;
    background-color: var(--color);
    filter: drop-shadow(var(--glow));
}