.skills-header{
    composes: bricks-background from "../common.module.css";
    composes: section-header from "../common.module.css";
    composes: parallax from "../common.module.css";
    background-image: url("../assets/images/bricks_background.webp");
}

.skills-title{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.skills-title>span:first-child{
    font-family: var(--font-graffiti-1);
    color: var(--graffiti-magenta);
    font-size: 4rem;
    transform: translateY(-30px);
}

.neon-one{
    font-family: var(--font-neon-2);
    font-size: 5rem;
    color: var(--neon-green-off);
}

.active{
    animation-name: flicker;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: var(--count);
    animation-delay: var(--delay);
}

@keyframes flicker {
    from {
        color: var(--off);
        background-image: none;
        text-shadow: none;
    }
    to {
        color: var(--on);
        background-image: var(--backlight);
        text-shadow: var(--glow);
    }
}