.skills-header{
    composes: bricks-background from "../common.module.css";
    composes: section-header from "../common.module.css";
    composes: parallax from "../common.module.css";
    background-image: url("../assets/images/bricks_background.webp");
}

.skills-title{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.skills-title>span:first-child{
    font-family: var(--font-graffiti-1);
    color: var(--graffiti-magenta);
    font-size: 4rem;
    transform: translateY(-30px);
}

.skills-title>span:last-child{
    font-family: var(--font-neon-2);
    font-size: 5rem;
    color: var(--neon-green);
    text-shadow: var(--glow-green);
    background-image: var(--backlight-green);
}

.skills-carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    transition: transform .2s;
    min-height: 150px;
}

.skill-button{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    transition: transform .5s, filter 0s;
    padding: 0;
    cursor: pointer;
    background-color: var(--none);
    border: none;
}

.skill-button:focus{
    outline: none;
}

.skill-button:hover{
    border: none;
}

.skill-button>img{
    user-select: none;
    -webkit-user-drag: none;
    cursor: inherit;
    filter: var(--off);
}

.skills-list{
    width: calc(60px + 225px);
    margin: 0 auto;
    overflow: hidden;
}

.active{
    filter: var(--filter);
    transform: scale(150%);
}