.work-header{
    composes: bricks-background from "../common.module.css";
    composes: section-header from "../common.module.css";
    composes: parallax from "../common.module.css";
    background-image: url("../assets/images/bricks_background.webp");
}

.work-title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: center;
    justify-content: center;
}

.neon-one{
    font-family: var(--font-neon-1);
    font-size: 3rem;
    color: var(--neon-yellow-off);
}

.neon-two{
    font-family: var(--font-neon-2);
    font-size: 5rem;
    color: var(--neon-pink-off);
}

.projects-list{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    place-items: stretch;
    place-content: stretch;
    gap: 3rem;
    margin: 0 auto 10rem auto;
}

.active{
    animation-name: flicker;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: var(--count);
    animation-delay: var(--delay);
}

@keyframes flicker {
    from {
        color: var(--off);
        background-image: none;
        text-shadow: none;
    }
    to {
        color: var(--on);
        background-image: var(--backlight);
        text-shadow: var(--glow);
    }
}