.bricks-background{
    background-size: 1000px;
    background-position: top;
    background-repeat: repeat-y;
}

.section-header{
    display: flex;
    place-items: center;
    place-content: center;
    margin: 0 auto 10rem auto;
    padding: 2rem;
    user-select: none;
}

.parallax{
    background-attachment: fixed;
}

.bio{
    font-family: var(--font-default);
    color: var(--text);
    font-size: 1.5rem;
    margin: 3rem auto 0 auto;
    max-width: 700px;
}