.bricks-background{
    background-size: 1000px;
    background-position: top;
    background-repeat: repeat
}

.parallax{
    background-attachment: fixed;
}

.bio{
    font-family: var(--font-default);
    color: var(--text);
    font-size: 1.5rem;
    margin: 3rem auto 0 auto;
    max-width: 700px;
}