@font-face {
    font-family: "minim";
    src: url("./assets/fonts/minim.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "BPneon";
    src: url("./assets/fonts/BPneon.otf");
    font-weight: normal;
}

@font-face {
    font-family: "digitag";
    src: url("./assets/fonts/Digitag.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "kanit";
    src: url("./assets/fonts/Kanit-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "angstRidden";
    src: url("./assets/fonts/angstridden.TTF");
    font-weight: normal;
}

:root{
    --background: #1a1a1a;
    --background-bright: #262626;
    --background-trans: #1a1a1abf;
    --none: #00000000;
    --text: #f2f2f2;
    --graffiti-magenta: #ae45ff;
    --graffiti-green: #b2ff58;

    --neon-pink: #ffa2e8;
    --neon-yellow: #d8fe7c;
    --neon-blue: #afcdff;
    --neon-gold: #ffe7af;
    --neon-green: #a2ffaf;

    --filter-neon-blue: brightness(0) invert(75%) sepia(4%) saturate(4797%) hue-rotate(189deg) brightness(106%) contrast(100%);

    --neon-pink-off: #ff5bd696;
    --neon-yellow-off: #748e36;
    --neon-blue-off: #365c9d;
    --neon-gold-off: #7e652a;
    --neon-green-off: #237a2e;

    --backlight-pink: radial-gradient(closest-side, var(--neon-pink-off), var(--none));
    --backlight-yellow: radial-gradient(closest-side, var(--neon-yellow-off), var(--none));
    --backlight-blue: radial-gradient(closest-side, var(--neon-blue-off), var(--none));
    --backlight-gold: radial-gradient(closest-side, var(--neon-gold-off), var(--none));
    --backlight-green: radial-gradient(closest-side, var(--neon-green-off), var(--none));

    --glow-pink: 
        0 0 5px var(--neon-pink),
        0 0 10px var(--neon-pink-off),
        0 0 10px var(--neon-pink-off),
        0 0 10px var(--neon-pink-off),
        0 0 10px var(--neon-pink-off),
        0 0 10px var(--neon-pink-off),
        0 0 10px var(--neon-pink-off);
    --glow-yellow: 
        0 0 5px var(--neon-yellow),
        0 0 10px var(--neon-yellow-off),
        0 0 10px var(--neon-yellow-off),
        0 0 10px var(--neon-yellow-off),
        0 0 10px var(--neon-yellow-off),
        0 0 10px var(--neon-yellow-off),
        0 0 10px var(--neon-yellow-off);
    --glow-blue: 
        0 0 5px var(--neon-blue),
        0 0 10px var(--neon-blue-off),
        0 0 10px var(--neon-blue-off),
        0 0 10px var(--neon-blue-off),
        0 0 10px var(--neon-blue-off),
        0 0 10px var(--neon-blue-off),
        0 0 10px var(--neon-blue-off);
    --glow-gold: 
        0 0 5px var(--neon-gold),
        0 0 10px var(--neon-gold-off),
        0 0 10px var(--neon-gold-off),
        0 0 10px var(--neon-gold-off),
        0 0 10px var(--neon-gold-off),
        0 0 10px var(--neon-gold-off),
        0 0 10px var(--neon-gold-off);
    --glow-green: 
        0 0 5px var(--neon-green),
        0 0 10px var(--neon-green-off),
        0 0 10px var(--neon-green-off),
        0 0 10px var(--neon-green-off),
        0 0 10px var(--neon-green-off),
        0 0 10px var(--neon-green-off),
        0 0 10px var(--neon-green-off);

    --font-neon-1: "minim", sans-serif;
    --font-neon-2: "BPneon", sans-serif;
    --font-graffiti-1: "digitag", sans-serif;
    --font-graffiti-2: "angstRidden", sans-serif;
    --font-default: "kanit", sans-serif;
}