@font-face {
    font-family: "minim";
    src: url("./assets/fonts/minim.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "BPneon";
    src: url("./assets/fonts/BPneon.otf");
    font-weight: normal;
}

@font-face {
    font-family: "digitag";
    src: url("./assets/fonts/Digitag.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "kanit";
    src: url("./assets/fonts/Kanit-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "angstRidden";
    src: url("./assets/fonts/angstridden.TTF");
    font-weight: normal;
}

:root{
    --background: #1a1a1a;
    --background-bright: #262626;
    --background-trans: #1a1a1abf;
    --none: #00000000;
    --text: #f2f2f2;
    --graffiti-magenta: #ae45ff;
    --graffiti-green: #b2ff58;

    --neon-pink: #ffa2e8;
    --neon-yellow: #d8fe7c;
    --neon-blue: #afcdff;
    --neon-gold: #ffe7af;
    --neon-green: #a2ffaf;
    --neon-red: #ffa2a2;
    --neon-purple: #c7a2ff;
    --neon-cyan: #a2fff9;

    --filter-neon-pink: brightness(0) invert(80%) sepia(12%) saturate(2071%) hue-rotate(282deg) brightness(102%) contrast(105%);
    --filter-neon-yellow: brightness(0) invert(95%) sepia(91%) saturate(635%) hue-rotate(28deg) brightness(120%) contrast(99%);
    --filter-neon-blue: brightness(0) invert(75%) sepia(4%) saturate(4797%) hue-rotate(189deg) brightness(106%) contrast(100%);
    --filter-neon-gold: brightness(0) invert(94%) sepia(31%) saturate(621%) hue-rotate(316deg) brightness(99%) contrast(103%);
    --filter-neon-green: brightness(0) invert(95%) sepia(6%) saturate(2572%) hue-rotate(60deg) brightness(103%) contrast(104%);
    --filter-neon-red: brightness(0) invert(86%) sepia(44%) saturate(2908%) hue-rotate(300deg) brightness(107%) contrast(116%);
    --filter-neon-purple: brightness(0) invert(70%) sepia(28%) saturate(1206%) hue-rotate(208deg) brightness(98%) contrast(107%);
    --filter-neon-cyan: brightness(0) invert(87%) sepia(36%) saturate(378%) hue-rotate(103deg) brightness(106%) contrast(104%);

    --filter-neon-pink-off: brightness(0) invert(19%) sepia(16%) saturate(7223%) hue-rotate(286deg) brightness(95%) contrast(87%);
    --filter-neon-yellow-off: brightness(0) invert(44%) sepia(5%) saturate(3964%) hue-rotate(36deg) brightness(113%) contrast(90%);
    --filter-neon-blue-off: brightness(0) invert(36%) sepia(19%) saturate(1847%) hue-rotate(179deg) brightness(88%) contrast(88%);
    --filter-neon-gold-off: brightness(0) invert(41%) sepia(7%) saturate(3750%) hue-rotate(4deg) brightness(90%) contrast(80%);
    --filter-neon-green-off: brightness(0) invert(35%) sepia(67%) saturate(531%) hue-rotate(76deg) brightness(94%) contrast(90%);
    --filter-neon-red-off: brightness(0) invert(26%) sepia(16%) saturate(1982%) hue-rotate(314deg) brightness(92%) contrast(97%);
    --filter-neon-purple-off: brightness(0) invert(17%) sepia(33%) saturate(2277%) hue-rotate(235deg) brightness(95%) contrast(94%);
    --filter-neon-cyan-off: brightness(0) invert(39%) sepia(10%) saturate(2046%) hue-rotate(127deg) brightness(87%) contrast(88%);

    --neon-pink-off: #7f2a6a;
    --neon-yellow-off: #748e36;
    --neon-blue-off: #365c9d;
    --neon-gold-off: #7e652a;
    --neon-green-off: #237a2e;
    --neon-red-off: #752f2f;
    --neon-purple-off: #422969;
    --neon-cyan-off: #2c6c68;

    --backlight-pink: radial-gradient(closest-side, var(--neon-pink-off), var(--none));
    --backlight-yellow: radial-gradient(closest-side, var(--neon-yellow-off), var(--none));
    --backlight-blue: radial-gradient(closest-side, var(--neon-blue-off), var(--none));
    --backlight-gold: radial-gradient(closest-side, var(--neon-gold-off), var(--none));
    --backlight-green: radial-gradient(closest-side, var(--neon-green-off), var(--none));
    --backlight-red: radial-gradient(closest-side, var(--neon-red-off), var(--none));
    --backlight-purple: radial-gradient(closest-side, var(--neon-purple-off), var(--none));
    --backlight-cyan: radial-gradient(closest-side, var(--neon-cyan-off), var(--none));

    --glow-single-pink: 0 0 5px var(--neon-pink);
    --glow-single-yellow: 0 0 5px var(--neon-yellow);
    --glow-single-blue: 0 0 5px var(--neon-blue);
    --glow-single-gold: 0 0 5px var(--neon-gold);
    --glow-single-green: 0 0 5px var(--neon-green);
    --glow-single-red: 0 0 5px var(--neon-red);
    --glow-single-purple: 0 0 5px var(--neon-purple);
    --glow-single-cyan: 0 0 5px var(--neon-cyan);

    --glow-pink: 
        0 0 5px var(--neon-pink),
        0 0 10px var(--neon-pink-off),
        0 0 10px var(--neon-pink-off),
        0 0 10px var(--neon-pink-off),
        0 0 10px var(--neon-pink-off),
        0 0 10px var(--neon-pink-off),
        0 0 10px var(--neon-pink-off);
    --glow-yellow: 
        0 0 5px var(--neon-yellow),
        0 0 10px var(--neon-yellow-off),
        0 0 10px var(--neon-yellow-off),
        0 0 10px var(--neon-yellow-off),
        0 0 10px var(--neon-yellow-off),
        0 0 10px var(--neon-yellow-off),
        0 0 10px var(--neon-yellow-off);
    --glow-blue: 
        0 0 5px var(--neon-blue),
        0 0 10px var(--neon-blue-off),
        0 0 10px var(--neon-blue-off),
        0 0 10px var(--neon-blue-off),
        0 0 10px var(--neon-blue-off),
        0 0 10px var(--neon-blue-off),
        0 0 10px var(--neon-blue-off);
    --glow-gold: 
        0 0 5px var(--neon-gold),
        0 0 10px var(--neon-gold-off),
        0 0 10px var(--neon-gold-off),
        0 0 10px var(--neon-gold-off),
        0 0 10px var(--neon-gold-off),
        0 0 10px var(--neon-gold-off),
        0 0 10px var(--neon-gold-off);
    --glow-green: 
        0 0 5px var(--neon-green),
        0 0 10px var(--neon-green-off),
        0 0 10px var(--neon-green-off),
        0 0 10px var(--neon-green-off),
        0 0 10px var(--neon-green-off),
        0 0 10px var(--neon-green-off),
        0 0 10px var(--neon-green-off);
    --glow-red: 
        0 0 5px var(--neon-red),
        0 0 10px var(--neon-red-off),
        0 0 10px var(--neon-red-off),
        0 0 10px var(--neon-red-off),
        0 0 10px var(--neon-red-off),
        0 0 10px var(--neon-red-off),
        0 0 10px var(--neon-red-off);
    --glow-purple: 
        0 0 5px var(--neon-purple),
        0 0 10px var(--neon-purple-off),
        0 0 10px var(--neon-purple-off),
        0 0 10px var(--neon-purple-off),
        0 0 10px var(--neon-purple-off),
        0 0 10px var(--neon-purple-off),
        0 0 10px var(--neon-purple-off);
    --glow-cyan: 
        0 0 5px var(--neon-cyan),
        0 0 10px var(--neon-cyan-off),
        0 0 10px var(--neon-cyan-off),
        0 0 10px var(--neon-cyan-off),
        0 0 10px var(--neon-cyan-off),
        0 0 10px var(--neon-cyan-off),
        0 0 10px var(--neon-cyan-off);

    --font-neon-1: "minim", sans-serif;
    --font-neon-2: "BPneon", sans-serif;
    --font-graffiti-1: "digitag", sans-serif;
    --font-graffiti-2: "angstRidden", sans-serif;
    --font-default: "kanit", sans-serif;

    scroll-behavior: smooth !important;
}